################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GroupProject/v15/Server/sqlite3/storage.ide-wal
/.vs/GroupProject/v15/Server/sqlite3
